<header>
  <div class="nav">
    <a href="/" class="title-nyc">NYC Capital Budget Explorer</a>
    <div class="nav-divst">
      <div class="dropdown">
        <span class="material-icons user-avatar" id="avatar" title="User Menu">person</span>
        <div class="dropdown-content" id="dropdown">
          <a href="/profile" class="navlink">Profile</a>
          <a id="signoutLink" class="navlink" href="/logout">Sign Out</a>
        </div>
      </div>
    </div>
  </div>
</header>
