<header>
  <nav class="nav">
    <ul class="nav-list">
      <li><a class="nav-link">Home</a></li>
      <li><a class="nav-link">Explore Budget</a></li>
      <li>
        <a class="nav-link">Export Excel</a>
      </li>
      <li>
        <a class="nav-link">Feedback</a>
      </li>
      <li><a class="nav-link">Profile</a></li>
    </ul>
  </nav>
</header>