<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Forgot Password</title>
  <link rel="stylesheet" href="/public/css/forgotPassword.css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <header>
      <h1>NYC Capital Budget Explorer</h1>
      
      {{#if errorMessage}}
        <section class="error-message">
            <p>{{errorMessage}}</p>
        </section>
      {{/if}}

      <section class="error-message client-error">
      </section>
      
      <section class="phone"><img src="/public/images/phone-icon.png" alt="Phone Icon" /> 1-855-326-8523</section>
  </header>

  <main>
    <aside class="left">
      <h2>Simple, Fast,<strong>Safe Business</strong>Financing</h2>
    </aside>

    <section class="card">
      <h2 id="card-heading">Forgot Password?</h2>
      <p id="text-assist">Enter the email address you used when you signed up, and we’ll send you instructions to reset your password.</p>
      <form action="/forgot-password" id="forgotPassForm" method="POST">
        <section class="group">
          <input type="email" name="email" id="email" placeholder="Email ID" required/>
          <span class="error" id="email-error"></span>
        </section>
        <button type="submit">Send Verification</button>
        <p class="login">Remember password? &nbsp;&nbsp;&nbsp;<a href="/login">Login</a></p>
      </form>
      <form action="/verify-reset-code" id="verificationForm" method="POST">
        <section class="group">
          <input type="text" name="code" id="code" placeholder="Verification Code - 6 digit" required/>
          <span class="error" id="code-error"></span>
        </section>
        <section class="group">
            <input type="password" name="newPassword" id="newPassword" placeholder="New Password" required/>
            <span class="error" id="password-error"></span>
        </section>
        <section class="group">
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Re-Enter Password" required/>
            <span class="error" id="cnfPassword-error"></span>
        </section>
        <button type="submit">Reset Password</button>
      </form>
    </section>
  </main>

  <footer>
    <p>Copyright © 2025 – 2025 All Rights Reserved.</p>
  </footer>

  <script src="/public/js/forgotPassword.js"></script>
</body>
</html>
