<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login</title>
  <link rel="stylesheet" href="/public/css/login.css" />
</head>
<body>
  <header>
      <h1>NYC Capital Budget Explorer</h1>
      
      {{#if errorMessage}}
        <section id="error-message">
            <p>{{errorMessage}}</p>
        </section>
      {{/if}}
      
      <section class="phone"><img src="/public/images/phone-icon.png" alt="Phone Icon" /> 1-855-326-8523</section>
  </header>

  <main>
    <aside class="left">
      {{!-- <h2>Simple, Fast,<strong>Safe Business</strong>Financing</h2> --}}
    </aside>

    <section class="card">
      <h2>Login</h2>
      <form action="/login" id="loginForm" method="POST">
        <section class="group">
          <input type="email" name="email" id="email" placeholder="Email Address" required/>
          <span class="error" id="email-error"></span>
        </section>
        <section class="group">
          <input type="password" name="password" id="password" placeholder="Password" required/>
          <span class="error" id="password-error"></span>
        </section>
        <section class="options">
          <label class="remember-label">
            <input type="checkbox" /> Remember me
          </label>
          <a class="forgot-pswd" href="/forgot-password">Forgot Password?</a>
        </section>
        <button type="submit">Login</button>
        <p class="signup"><a href="/signup">Sign Up</a></p>
      </form>
    </section>
  </main>

  <footer>
    <p>Copyright © 2025 – 2025 All Rights Reserved.</p>
  </footer>

  <script src="/public/js/login.js"></script>
</body>
</html>
