<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sign Up</title>
  <link rel="stylesheet" href="/public/css/signup.css" />
</head>
<body>
  <header>
      <a href="/"><h1>NYC Capital Budget Explorer</h1></a>
      
      {{#if errorMessage}}
        <section id="error-message">
            <p>{{errorMessage}}</p>
        </section>
      {{/if}}
  </header>

  <main>
    <aside class="left">
      {{!-- <h2>Simple, Fast,<strong>Safe Business</strong>Financing</h2> --}}
    </aside>

    <section class="card">
      <h2>Sign Up</h2>
      <form action="/signup" id="signupForm" method="POST">
        <section class="group">
          <input type="text" name="firstName" id="firstName" placeholder="First Name" required/>
          <span class="error" id="firstName-error"></span>
        </section>
        <section class="group">
          <input type="text" name="lastName" id="lastName" placeholder="Last Name" required/>
          <span class="error" id="lastName-error"></span>
        </section>
        <section class="group">
          <input type="email" name="email" id="email" placeholder="Email Address" required/>
          <span class="error" id="email-error"></span>
        </section>
        <section class="group">
            <input type="password" name="password" id="password" placeholder="Password" required/>
            <span class="error" id="password-error"></span>
        </section>
        <section class="group">
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Re-Enter Password" required/>
            <span class="error" id="cnfPassword-error"></span>
        </section>
        <section class="group">
            <select name="borough" id="borough" required>
                <option value="Unknown">Select Borough</option>
                <option value="Manhattan">Manhattan</option>
                <option value="Bronx">Bronx</option>
                <option value="Brooklyn">Brooklyn</option>
                <option value="Queens">Queens</option>
                <option value="Staten Island">Staten Island</option>
            </select>
            <span class="error" id="borough-error"></span>
        </section>
        <section class="group">
            <select name="gender" id="gender" required>
                <option value="Unknown">Select Gender</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="O">Other</option>
            </select>
            <span class="error" id="gender-error"></span>
        </section>
        <section class="group">
            <input type="number" name="age" id="age" placeholder="Age" required/>
            <span class="error" id="age-error"></span>
        </section>
        <button type="submit">Sign Up</button>
        <p class="login"><a href="/login">Login</a></p>
      </form>
    </section>
  </main>

  <footer>
    <p>Copyright © 2025 – 2025 All Rights Reserved.</p>
  </footer>

  <script src="/public/js/signup.js"></script>
</body>
</html>
